@font-face {
  font-family: 'DragonForce';
  src: url('fonts/DragonForcE.ttf') format('truetype');
}


/* ===================================================
SECTION 1: Global Styles
=================================================== */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/music.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* ===================================================
SECTION 2: Font Styles
=================================================== */
h2 {
    font-family: 'Impact_Label_Reversed', Arial, sans-serif;
  font-size: 3vw;
  text-shadow: rgb(0, 0, 0) 3px 1px;
  color: rgb(242, 0, 0);
  margin:0;
}

h3 {
    margin: 0;
    font-size: 3vw;
    color: rgb(237, 0, 0);
    display:flex;
    justify-content:center;
    text-align:center;
}

h2, h3 {

  text-align: center; /* Centers the text horizontally */

}
/* ===================================================
SECTION 3: Paragraph Styles
=================================================== */

.p2 {
    font-family: 'Impact_Label_Reversed', Arial, sans-serif;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:3vh;
    text-shadow: red 2px 1px;
    color: black;
    padding:3%;
    border-style: groove;
    border-color:rgb(226, 13, 13);
    border-width:.4vh;
    background-color:rgba(255, 255, 255, 0.792);
}

.p2 b {
    text-shadow: black 1px;
    color:green;
}

.p2 a:hover {
    color:rgb(255, 0, 0);
}

.p2 a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}


/* ===================================================
SECTION 4: Video Player Styles
=================================================== */
#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

video {
    width: 80vw;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2vh double #fff;
    border-radius: 30%;
    border-bottom: 30%;
    margin-bottom: 0;
}

/* ===================================================
SECTION 5: Footer Styles
=================================================== */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Impact_Label_Reversed', Arial, sans-serif;
    margin-top: auto;
}
/* ===================================================
SECTION 6: Container Styles
=================================================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Reduced from 100vh to 80vh */
    width:100%;
    padding:auto;
    
}

/* ===================================================
SECTION 7: Carousel
=================================================== */
.owl-carousel {
    position: relative; /* Change to absolute or relative depending on your layout requirements */
    top: 0;
    left: 0;
    width: 100vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999;
    padding: 10px 15px 1px 15px;
}

.carousel {
    height: 500px; /* increase this value as per your requirement */
  }

  .carousel img {
    max-width: 100%;
    height: auto;
    width: auto; /* IE8 */
  }

.owl-carousel .item {
    margin-left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 300px; /* added this */
    overflow: hidden; /* Add this to hide any parts of the image that do not fit in the container */
}

.owl-carousel .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.owl-carousel .item p2 {
    display:flex;
    justify-content: center;
    font-size: 24px;
    color: #000000a1;
}

.owl-carousel .owl-item.active.center {
    z-index: 100;
    max-width: 50% !important;
}

.owl-carousel .owl-item.active {
    max-width: 60% !important;
    transition: all 0.3s ease;
}

/* Universal Item Image Size */
.owl-carousel .item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover; /* change to cover from contain */
}

.product{
    margin:0;
    display:block;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}

/* ===================================================
SECTION 8: Responsive Media Queries
=================================================== */

/* Small screens (up to 480px) */
@media only screen and (max-width: 480px) {
    video {
        width: 80%;
    }
    
    .p2 {
        max-width: 70%;
        
    }
    
    /* .container {
        padding-top: 10vh; 
    } */

    .product{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    }
    
    
    .owl-carousel .item {
        padding: 15%; /* Add padding to ensure the text doesn't touch the edge */
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        
    }
    
    .owl-carousel .item h2 {
        font-size: 3.5vw; /* Adjust font size to scale with viewport width */
        color: black;
        text-shadow: none;
    }
    
    .owl-carousel .item h3 {
        font-size: 2vw; /* Adjust font size to scale with viewport width */
    }
    
    .owl-carousel .item .p2 {
        font-size: 2.5vh; /* Adjust font size to scale with viewport width */
        color: red;
        text-shadow: none;
    }
    
    
    .owl-carousel .item img {
        max-width: 100%;
        height: auto;
        width: auto\1; /* IE8 */
    }

    .owl-carousel{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        height: auto;
        width: auto\1; /* IE8 */
        margin:0;
    }
    .owl-carousel .p2 {
        max-width: 100%;

    }
}

/* Medium screens (481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    video {
        width: 70%;
    }

    .p2 {
        max-width: 80%;
    }

    .container {
        padding-top: 5vh; 
        margin:0;
    }

    .product {
        text-align:center;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

    }

    .owl-carousel .item {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .owl-carousel .item h2 {
        font-size: 3vw; /* Adjust font size to scale with viewport width */
        color: black;
        text-shadow: none;
    }

    .owl-carousel .item h3 {
        font-size: 2vw; /* Adjust font size to scale with viewport width */
    }

    .owl-carousel .item .p2 {
        font-size: 2vh; /* Adjust font size to scale with viewport width */
        color: red;
        text-shadow: none;
    }

    .owl-carousel .item img {
        max-width: 90%;
        height: auto;
        width: auto\1; /* IE8 */
    }

    .owl-carousel {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        height: auto;
        width: auto\1; /* IE8 */
    }
    .owl-carousel .p2 {
        max-width: 90%;
    }
}

/* Large screens (769px and above) */
@media only screen and (min-width: 769px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .owl-carousel {
        max-width: 100%; /* Adjust this to whatever maximum width you desire */
        margin: auto; /* Auto margins are used to center block elements */
        max-height: 100vh; /* Adjust this to your desired maximum height */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
    
    .owl-carousel .item {
        padding: 10%; /* Add padding to ensure the text doesn't touch the edge */
    }

    .owl-carousel .item img {
        max-height: 70%; /* Adjust the value as needed */
    }

    .owl-carousel .p2 {
        font-size:3vh;

    }
}
